## Carga de datos, almacenamiento y formatos de archivo

In [15]:
import pandas as pd
import numpy as np

### Lectura y escritura de datos en formato de texto
Pandas presenta una serie de funciones para leer datos tabulares como un objeto
DataFrame. `pandas.read_csv` es uno de los más utilizados.

**Indexación**: puede tratar una o más columnas como el DataFrame devuelto, y si desea
obtener nombres de columna del archivo, argumentos que proporcione o no.

**Inferencia de tipo y conversión de datos**: incluye las conversiones de valor
definidas por el usuario y lista personalizada de marcadores de valores faltantes.

**Análisis de fecha y hora**: incluye una capacidad de combinación, que incluye la
combinación de información de fecha y hora distribuida en varias columnas en una sola
columna en el resultado.

**Iterando**: soporte para iterar sobre trozos de archivos muy grandes.

**Problemas de datos impuros**: incluye omitir filas o pie de página, comentarios u
otras cosas menores como datos numéricos con miles separados por coma.

In [14]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
df = pd.read_csv("ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
# un archivo no siempre tedrá una fila de encabezados
!cat ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [20]:
# dejar que pandas asigne nombre a las columnas
pd.read_csv("ex2.csv", header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [24]:
# asignar nombre a las columnas
pd.read_csv("ex2.csv", names=list("abcd"))

    a   b   c      d
1   2   3   4  hello
5   6   7   8  world
9  10  11  12    foo